<h1>Edit discussion</h1>

 <% if @discussion.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @discussion.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %> 

<h3>Change the name of this discussion topic:</h3>
<%= form_for @discussion do |f| %>
<%= f.label :topic %>
<br>
<%= f.collection_select :topic, Topic.order(:id),:id,:name, include_blank: false %>
<br>
<br>
<%= f.label :content_body %>
<br>
<%= f.text_area :content_body, :cols => 40, :rows=> 5 %>
<br>
<br>
<%= f.submit %>
<% end %>