  <h4>Some posts about <%= @discussion.topic %>:</h4>


  <% @discussion.posts.each do |post| %>
  <ul>
    <li>
      <%= link_to post.content_body, discussion_post_path(@discussion, post) %>
    </li>
  </ul>
  <% end %>


  <p><%= link_to "Add a post", new_discussion_post_path(@discussion) %></p>

  <%
=begin%>
  <p><%= link_to "Edit topic of discussion", edit_discussion_path(@discussion) %></p>
  <%
=end%>
  <%
=begin%>
 <p><%= link_to "Delete this discussion", discussion_path(@discussion),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p> 
<%
=end%>

  <p><%= link_to "Return to discussions", discussions_path %></p>

  <form action="/discussions/<%= @discussion.id() %>" method="post">
  <input name="_method" type="hidden" value="delete" />

  <button type="submit">Delete discussion</button>
</form>