<h2>Post for <%= @discussion.topic %></h2>

<h4>Posted by <%= @post.author %></h4>
<p> <%= @post.content_body %></p>

<%= button_to 'Like', discussion_post_likes_path(@discussion, @post), method: :post %>

<p><%= link_to "Edit post", edit_discussion_post_path(@discussion, @post) %></p>

<p><%= link_to "Return to discussion", discussion_path(@discussion) %></p>

<p><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></p>

<form action="/discussions/<%= @discussion.id() %>/posts/<%= @post.id() %>" method="post">
  <input name="_method" type="hidden" value="delete" />

  <button type="submit">Delete post</button>
</form>