<h2>Post for <%= @discussion.topic %></h2>

<h4>Posted by <%= @post.author %></h4>
<p> <%= @post.content_body %></p>

<p><%= link_to "Edit post", edit_discussion_post_path(@discussion, @post) %></p>
<p><%= link_to "Delete", discussion_post_path(@discussion, @post), :method => :delete %></p>
<%# :data => {:confirm => "Are you sure?",
# :method => "delete" </p> %>

<p><%= link_to "Return to discussion", discussion_path(@discussion) %></p>