<!DOCTYPE html>
<html>
<head>
    <title>NERDY.LOL</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/94917460c5.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css2?family=Syne:wght@500&display=swap" rel="stylesheet">
</head>

<body>
<nav class ='navbar menu'>
<h5 class='display-4'>NERDY.LOL</h5>
    <p class="navbar-text">
<div id="menuitems">
      <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <% end %>
      <%= render 'devise/menu/login_items'%> 
</div>
    </p>
</nav>
  <div class='row'>
    <div class='col-11'>
      <%= yield %>
    </div>
      <div class='col-1 topicnav'>
        <i class="fas fa-jedi fa-3x"></i>
          <hr>
        <i class="fas fa-hand-spock fa-3x"></i>
          <hr>
        <i class="fas fa-dragon fa-3x"></i>
          <hr>
        <i class="fas fa-quidditch fa-3x"></i>
          <hr>
        <i class="fas fa-ring fa-3x"></i>
          <hr>
        <i class="fas fa-space-shuttle fa-3x"></i>
        <hr>
        <i class="fas fa-cat fa-3x"></i>
      </div>
  </div>

  <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
  <% end %>
</body>

</html>